$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
a {
    background-color: black;
    font-family: Times New Roman;
    color: white;
}

a:focus {
    background-color: teal;
}

button {
    background-color: black;
    position: relative;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 6em;
    color: #FF9933;
    text-align: center;
}

h2 {
    text-align: right;
    text-size: 1em;
}

h3 {
    text-align: center;
    text-size: 1em;
    font-family: Times New Roman;
}

h4 {
    text-size: 3em;
}

h5 {
    text-align: center;
    text-size: 3em;
    color: #33CCCC;
    font-family: Arial Narrow;
    width: 1100px;
}

img {
    text-align: center;
    position: float;
}

p {
    text-align: center;
    text-size: 5em;
    width: 1100px;
    height: 600px;
}

#categoryOne {
    font-size: 2em;
    text-align: center;
}

#categoryTwo {
    font-size: 2em;
    text-align: center;
}

#categoryThree {
    font-size: 2em;
    text-align: center;
}

#categoryFour {
    font-size: 2em;
    text-align: center;
}

#name {
    text-align: center;
    padding: 0px;
}

#score {
    text-size: 2em;
}

@mixin trebek {
    background: url(http://www.jeopardy.com/minisites/mustache/img/alex-head.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}
#trebekImage1 {
    @include trebek;
}
#trebekImage2 {
    @include trebek;
}
#trebekImage3 {
    @include trebek;
}
#trebekImage4 {
    @include trebek;
}
#trebekImage5 {
    @include trebek;
}
#trebekImage6 {
    @include trebek;
}
#trebekImage7 {
    @include trebek;
}
#trebekImage8 {
    @include trebek;
}
#trebekImage9 {
    @include trebek;
}
#trebekImage10 {
    @include trebek;
}
#trebekImage11 {
    @include trebek;
}
#trebekImage12 {
    @include trebek;
}
#trebekImage13 {
    @include trebek;
}
#trebekImage14 {
    @include trebek;
}
#trebekImage15 {
    @include trebek;
}
#trebekImage16 {
    @include trebek;
}

#user-name {
    text-align: center;
    padding: 0px;
}

.active {
    font-family: 'Fredericka the Great', cursive;
    color: black;
}

.category {
    padding: 5%;
    background-color: #33CCCC;
    text-align: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 20px;
    position: relative;
}

.game-board {
    position: relative;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.panel-footer {
    padding: 60px;
    font-family: 'Poiret One', cursive;
}

//Controls the question buttons on the gameboard
.question {
    position: relative;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    padding-top: 35px;
    padding-bottom: 15px;
    cursor: pointer;
    color: black;
}

.subject-row {
    font-family: 'Megrim', cursive;
    text-align: center;
    text-size: 3.5em;
}
